In [ ]:
#Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que 
# tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='information_schema')

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('BBDD_de_prueba',)
('Iinsercion_de_datos',)
('Zapateria',)
('bbdd_nba',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwing',)
('performance_schema',)
('proyecto_1_adalab',)
('sakila',)
('sys',)
('tienda',)
('world',)

In [ ]:
#Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? 
# Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. 
# Guarda el resultado de los nombres de la tablas en una lista.

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwing')

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")
lista_tablas=[]
for x in mycursor:
  lista_tablas.append(x)
  print(x)
  print(lista_tablas)

('categories',)
[('categories',)]
('customer_customer_demo',)
[('categories',), ('customer_customer_demo',)]
('customer_demographics',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',)]
('customers',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',)]
('employee_territories',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',)]
('employees',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',)]
('order_details',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',)]
('orders',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',)]
('products',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',)]
('region',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',)]
('shippers',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',), ('shippers',)]
('suppliers',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',), ('shippers',), ('suppliers',)]
('territories',)
[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',), ('shippers',), ('suppliers',), ('territories',)]

In [ ]:
#¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que 
# nos saque el resultado de todas las columnas.

In [11]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="information_schema"
)

mycursor = mydb.cursor()
query="SELECT * FROM COLUMNS WHERE TABLE_NAME = %s"


print(mycursor)

for value in lista_tablas:
  mycursor.execute(query,value)
  print(value)


#SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind' ;

CMySQLCursor: SELECT * FROM COLUMNS WHERE TABLE_NAME =..

In [22]:
#versión de alejandro
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind'")

for x in mycursor:
  print(x)

In [ ]:
#Hagamos unas queries facilitas:

In [17]:
#Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
mydb = mysql.connector.connect(
user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='northwing')

mycursor = mydb.cursor()

mycursor.execute("SELECT order_id, quantity*unit_price FROM order_details ORDER BY quantity*unit_price DESC")

myresult = mycursor.fetchone()
print(myresult)

(10865, 15810.0)

In [ ]:
#Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
mydb = mysql.connector.connect(
user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='northwing')

mycursor = mydb.cursor()

mycursor.execute("SELECT order_id, quantity*unit_price FROM order_details ORDER BY quantity*unit_price DESC")

myresult = mycursor.fetchall()
print(myresult)

In [ ]:
#Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
mydb = mysql.connector.connect(
user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='northwing')

mycursor = mydb.cursor()

mycursor.execute("SELECT COUNT(order_id), ORDER_DATE
FROM orders
group by order_date ")

myresult = mycursor.fetchall()
print(myresult)

In [ ]:
#Para finalizar el ejercicio, desconectad la conexión con el servidor.