In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='tienda')

In [3]:
#creación de la base de datos
mycursor = cnx.cursor()
sql = "CREATE DATABASE IF NOT EXISTS mi_primerita_BBDD_Python"
try:
    mycursor.execute(sql)

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [4]:
#Creación de la variable con la contraseña para no tener que escribirla y creación de las variables con las querys
contraseña='AlumnaAdalab'

tabla_zapatillas= "CREATE TABLE IF NOT EXISTS zapatillas (id_zapatillas INT NOT NULL AUTO_INCREMENT,\
                                            modelo VARCHAR (45) NOT NULL,\
                                            color VARCHAR (45) NOT NULL,\
                                            talla INT NOT NULL,\
                                            PRIMARY KEY (id_zapatillas))"

tabla_clientes= "CREATE TABLE IF NOT EXISTS clientes (id_cliente INT NOT NULL AUTO_INCREMENT,\
                                        nombre VARCHAR (45) NOT NULL,\
                                        numero_telefono INT (9) NOT NULL,\
                                        email VARCHAR (45) NOT NULL,\
                                        direccion VARCHAR (45) NOT NULL,\
                                        ciudad VARCHAR (45),\
                                        provincia VARCHAR(45) NOT NULL,\
                                        pais VARCHAR (45) NOT NULL,\
                                        codigo_postal INT (9) NOT NULL,\
                                        PRIMARY KEY (id_cliente))"

tabla_empleados= "CREATE TABLE IF NOT EXISTS empleados (id_empleado INT NOT NULL AUTO_INCREMENT,\
                                            nombre VARCHAR (45) NOT NULL,\
                                            tienda VARCHAR (45) NOT NULL,\
                                            salario VARCHAR (45),\
                                            fecha_incorporacion DATE NOT NULL,\
                                            PRIMARY KEY (id_empleado))"

tabla_facturas= "CREATE TABLE IF NOT EXISTS facturas (id_factura INT NOT NULL AUTO_INCREMENT,\
                                        id_empleado INT NOT NULL,\
                                        id_cliente INT NOT NULL,\
                                        id_zapatillas INT NOT NULL,\
                                        fecha DATE NOT NULL,\
                                        total FLOAT NOT NULL,\
                                        PRIMARY KEY (id_factura),\
                                            CONSTRAINT `fk_id_empleado` FOREIGN KEY (id_empleado) REFERENCES empleados (id_empleado),\
                                            CONSTRAINT `fk_id_cliente` FOREIGN KEY (id_cliente) REFERENCES clientes (id_cliente),\
                                            CONSTRAINT `fk_id_zapatilla` FOREIGN KEY (id_zapatillas) REFERENCES zapatillas (id_zapatillas))"

In [5]:
def crear_tablas (password,query):
    cnx = mysql.connector.connect(user='root', password=password,
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')
    mycursor= cnx.cursor()
    try:
        mycursor.execute(query)
        print("Se creó la tabla",mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    return mycursor.close()

In [ ]:
crear_tablas(contraseña,tabla_facturas)

In [ ]:
crear_tablas(contraseña,tabla_clientes)

In [ ]:
crear_tablas(contraseña,tabla_empleados)

In [ ]:
crear_tablas(contraseña,tabla_facturas)